body
{
    margin:0;
    padding:0;
}
header
{
    text-align: right;
    background-color: #F0F8FF;
    padding:1px;

}
section
{
    width:40%;
    background-color: #F5F5DC;
    float:left;
}
main{
    width:60%;
    float:right;
}
#door
{
    color:green;
}
#stoppen
{
    color:red;
}
#Footer
{
    text-align: right;
    background-color: darkseagreen;
    margin-top: 100px;
    position: absolute ;
}